# Copy to `.env`.
#
# Plex DB: host folder mounted at `/data` in the API container (same as `docker run -v <host>:/data`).
# Change `PLEX_DATA_HOST_PATH` to your Plex "Databases" folder if the DB is not in `./data` next to docker-compose.yml.
#
# Examples:
#   PLEX_DATA_HOST_PATH=./data
#   PLEX_DATA_HOST_PATH=/home/you/Plex/Library/Application Support/Plex Media Server/Plug-in Support/Databases
#   PLEX_DATA_HOST_PATH=F:/Plex/Library/Application Support/Plex Media Server/Plug-in Support/Databases

WEB_HOST_PORT=5174
API_HOST_PORT=3101

PLEX_DATA_HOST_PATH=./data
PLEX_DB_PATH=/data/com.plexapp.plugins.library.db
